@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --text: #fff;
    --secondary-text: #fff4;

    --button: #fff2;
    --button-hover: #fff3;
    --button-border: #fff9;

    --background: linear-gradient(to top, #100000, #000010);
    --dropdown-background: #101010;
    --copy-button-hover: linear-gradient(to right, #ffafaf, #afafff, #ffafaf, #afafff, #ffafaf);
    
    --scale-hover: 1.03;
    --saturation: 2.5;
    --transition-speed: 0.3s;
}

:root.red {
    --background: linear-gradient(0deg, hsl(0, 100%, 4%), hsl(0, 63%, 10%));
}

:root.orange {
    --background: linear-gradient(0deg, hsl(24, 100%, 4%), hsl(24, 63%, 10%));
}

:root.yellow {
    --background: linear-gradient(0deg, hsl(51, 100%, 4%), hsl(51, 63%, 10%));
}

:root.green {
    --background: linear-gradient(0deg, hsl(96, 100%, 4%), hsl(96, 63%, 10%));
}

:root.cyan {
    --background: linear-gradient(0deg, hsl(180, 100%, 4%), hsl(180, 63%, 10%));
}

:root.blue {
    --background: linear-gradient(0deg, hsl(225, 100%, 4%), hsl(225, 63%, 10%));
}

:root.purple {
    --background: linear-gradient(0deg, hsl(267, 100%, 4%), hsl(267, 63%, 10%));
}

:root.pink {
    --background: linear-gradient(0deg, hsl(303, 100%, 4%), hsl(303, 63%, 10%));
}

:root.rainbow {
    --background: linear-gradient(0deg, hsl(0, 63%, 10%), hsl(24, 63%, 10%), hsl(51, 63%, 10%), hsl(96, 63%, 10%), hsl(180, 63%, 10%), hsl(225, 63%, 10%), hsl(267, 63%, 10%), hsl(303, 63%, 10%));
}

:root.monochrome {
    --background: #050505;
    --copy-button-hover: linear-gradient(to right, #aaa, #fff, #aaa, #fff, #aaa);
}

:root.bimbo {
    --background: #800079;
}

:root.summer-haze {
    --background: linear-gradient(to top, #240023, #301b00);
}

:root.matrix {
    --background: linear-gradient(to top, #000500, #001600);
}

:root.hub {
    --background: linear-gradient(to top, #683200, #000000);
}

body {
    margin: 0;
    padding: 0;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Ubuntu Mono", monospace;
    overflow-x: hidden;
    user-select: none;
}

background {
    z-index: -1;
    background: var(--background);
    margin: 0;
    position: fixed;
    padding: 0;
    height: 100%;
    width: 100%;
}

.bigTitle {
    font-size: 80px;
}

header {
    height: max-content;
    margin: 40px;
    width: 80%;

    div {
        display: flex;
        align-items: center;

        h1 {
            font-size: 2.5rem;
            color: #f4f4f9;
            text-align: left;
            margin: 0;
        }

        img {
            max-height: 35px;
            padding-right: 10px;
        }
    }

    h2 {
        font-size: 1.2rem;
        color: #f4f4f9;
        text-align: left;
        margin: 0;
        padding-top: 5px;
    }
}

button.sidebar {
    position: fixed;
    backdrop-filter: saturate(var(--saturation));
    top: 12px;
    right: 10px;
    width: 140px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    /* transition: all 0.25s ease, right 0.5s ease; */
    transition: all var(--transition-speed) ease;
    color: var(--text);
    background-color: var(--button);
    border-style: solid;
    border-color: var(--button-border);
    border-radius: 10px;
    border-width: 2px;
}

button.sidebar:hover {
    background-color: var(--button-hover);
    scale: var(--scale-hover);
    cursor: pointer;
}

button.sidebar.hide {
    right: -200px;
}

.clipboard-notification {
    z-index: 100;
    border-radius: 10px;
    position: fixed;
    bottom: -0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    border-style: none;
    color: white;
    padding: 10px 20px;
    opacity: 0;
    transition: bottom var(--transition-speed) ease-in-out, opacity var(--transition-speed) ease-in-out;
}

.clipboard-notification.show {
    bottom: 20px;
    opacity: 1;
}

#sideBarSaturator.show {
    right: 0;
}

sidebar {
    height: calc(100% - 15px);
    position: fixed;
    right: -200px;
    top: 0;
    background: var(--background);
    backdrop-filter: saturate(var(--saturation));
    display: flex;
    flex-direction: column;
    width: 140px;
    padding-inline: 10px;
    padding-top: 10px;
    z-index: 10;
    transition: all var(--transition-speed) ease;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style: solid;
    border-color: var(--button-border);
    border-width: 2px;

    #sideBarSaturator{
        z-index: 11;
        height: calc(100% - 15px);
        backdrop-filter: saturate(var(--saturation));
        position: fixed;
        right: -3px;
        top: 0;
        width: 140px;
        background-color: var(--button);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-style: solid;
        border-color: #fff0;
        border-width: 2px;
        padding-inline: 10px;
        padding-top: 10px;
        transition: all var(--transition-speed) ease;
    }

    h1 {
        color: white;
        width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: 9px;
        z-index: 13;
    }

    button {
        font-family: "Ubuntu Mono", monospace;
        font-size: 20px;
        width: 100%;
        color: white;
        text-align: center;
        height: 40px;
        margin-bottom: 10px;
        transition: all var(--transition-speed) ease;
        color: var(--text);
        background-color: var(--button);
        border-style: solid;
        border-color: var(--button-border);
        border-radius: 10px;
        border-width: 2px;
        z-index: 13;
    }

    button:hover {
        background-color: var(--button-hover);
        scale: var(--scale-hover);
        cursor: pointer;
    }
}

sidebar.show {
    right: 0;
}

main {
    align-self: center;
    width: 70%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.fancyButton {
    font-family: "Ubuntu Mono", monospace;
    font-size: 20px;
    width: 100%;
    color: white;
    text-align: center;
    height: 40px;
    margin-bottom: 10px;
    transition: all var(--transition-speed) ease;
    color: var(--text);
    background-color: var(--button);
    backdrop-filter: saturate(var(--saturation));
    border-style: solid;
    border-color: var(--button-border);
    border-radius: 10px;
    border-width: 2px;
}

.fancyButton:hover {
    background-color: #ffffff43;
    scale: var(--scale-hover);
    cursor: pointer;
}

.fancyTitle {
    font-size: 22px;
    position: relative;
    font-weight: bold;
    text-align: center;
    font-family: "Ubuntu Mono", monospace;
}

.fancyDescription {
    color: rgb(170, 170, 170);
    text-align: center;
    position: relative;
    font-size: 14px;
    padding-top: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-family: "Ubuntu Mono", monospace;
}

@media only screen and (max-width: 900px) {
    .main {
        width: 95%;
    }

    button.sidebar {
        position: fixed;
        backdrop-filter: saturate(var(--saturation));
        top: 12px;
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        text-align: center;
        transition: all var(--transition-speed) ease, right var(--transition-speed) ease;
        color: var(--text);
        background-color: var(--button);
        border-style: solid;
        border-color: var(--button-border);
        border-radius: 10px;
        border-width: 2px;
    }

    .bigTitle {
        font-size: 50px;
    }
}